src/azure_data_factory/adf_pipelines/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AlphaVantageRestDataDataset",
						"type": "DatasetReference",
						"parameters": {
							"symbol": {
								"value": "@variables('symbol')",
								"type": "Expression"
							},
							"apikey": {
								"value": "@pipeline().parameters.apikey",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AlphaVantageDailyDataset",
						"type": "DatasetReference",
						"parameters": {
							"layer": {
								"value": "@pipeline().parameters.raw_layer",
								"type": "Expression"
							},
							"symbol": {
								"value": "@variables('symbol')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['Meta Data']['1. Information']"
								},
								"sink": {
									"name": "1. Information"
								}
							},
							{
								"source": {
									"path": "$['Meta Data']['2. Symbol']"
								},
								"sink": {
									"name": "2. Symbol"
								}
							},
							{
								"source": {
									"path": "$['Meta Data']['3. Last Refreshed']"
								},
								"sink": {
									"name": "3. Last Refreshed"
								}
							},
							{
								"source": {
									"path": "$['Meta Data']['4. Output Size']"
								},
								"sink": {
									"name": "4. Output Size"
								}
							},
							{
								"source": {
									"path": "$['Meta Data']['5. Time Zone']"
								},
								"sink": {
									"name": "5. Time Zone"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-11-03']['1. open']"
								},
								"sink": {
									"name": "open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-11-03']['2. high']"
								},
								"sink": {
									"name": "high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-11-03']['3. low']"
								},
								"sink": {
									"name": "low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-11-03']['4. close']"
								},
								"sink": {
									"name": "close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-11-03']['5. volume']"
								},
								"sink": {
									"name": "volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-11-01']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-11-01_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-11-01']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-11-01_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-11-01']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-11-01_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-11-01']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-11-01_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-11-01']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-11-01_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-31']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-31_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-31']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-31_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-31']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-31_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-31']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-31_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-31']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-31_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-30']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-30_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-30']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-30_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-30']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-30_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-30']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-30_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-30']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-30_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-27']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-27_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-27']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-27_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-27']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-27_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-27']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-27_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-27']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-27_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-26']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-26_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-26']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-26_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-26']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-26_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-26']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-26_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-26']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-26_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-25']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-25_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-25']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-25_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-25']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-25_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-25']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-25_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-25']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-25_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-24']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-24_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-24']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-24_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-24']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-24_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-24']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-24_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-24']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-24_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-23']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-23_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-23']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-23_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-23']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-23_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-23']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-23_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-23']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-23_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-20']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-20_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-20']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-20_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-20']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-20_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-20']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-20_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-20']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-20_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-19']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-19_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-19']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-19_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-19']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-19_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-19']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-19_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-19']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-19_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-18']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-18_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-18']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-18_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-18']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-18_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-18']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-18_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-18']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-18_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-17']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-17_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-17']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-17_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-17']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-17_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-17']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-17_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-17']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-17_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-16']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-16_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-16']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-16_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-16']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-16_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-16']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-16_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-16']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-16_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-13']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-13_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-13']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-13_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-13']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-13_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-13']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-13_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-13']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-13_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-11']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-11_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-11']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-11_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-11']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-11_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-11']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-11_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-11']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-11_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-10']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-10_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-10']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-10_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-10']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-10_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-10']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-10_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-10']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-10_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-09']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-09_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-09']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-09_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-09']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-09_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-09']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-09_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-09']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-09_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-06']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-06_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-06']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-06_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-06']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-06_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-06']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-06_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-06']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-06_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-05']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-05_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-05']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-05_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-05']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-05_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-05']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-05_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-05']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-05_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-04']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-04_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-04']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-04_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-04']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-04_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-04']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-04_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-04']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-04_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-03']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-03_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-03']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-03_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-03']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-03_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-03']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-03_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-03']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-03_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-02']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-02_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-02']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-02_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-02']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-02_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-02']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-02_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-10-02']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-10-02_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-29']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-29_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-29']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-29_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-29']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-29_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-29']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-29_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-29']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-29_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-28']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-28_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-28']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-28_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-28']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-28_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-28']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-28_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-28']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-28_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-27']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-27_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-27']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-27_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-27']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-27_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-27']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-27_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-27']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-27_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-26']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-26_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-26']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-26_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-26']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-26_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-26']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-26_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-26']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-26_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-25']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-25_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-25']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-25_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-25']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-25_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-25']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-25_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-25']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-25_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-22']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-22_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-22']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-22_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-22']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-22_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-22']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-22_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-22']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-22_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-21']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-21_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-21']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-21_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-21']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-21_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-21']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-21_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-21']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-21_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-20']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-20_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-20']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-20_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-20']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-20_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-20']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-20_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-20']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-20_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-19']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-19_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-19']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-19_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-19']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-19_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-19']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-19_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-19']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-19_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-18']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-18_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-18']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-18_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-18']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-18_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-18']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-18_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-18']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-18_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-15']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-15_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-15']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-15_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-15']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-15_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-15']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-15_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-15']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-15_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-14']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-14_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-14']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-14_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-14']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-14_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-14']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-14_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-14']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-14_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-13']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-13_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-13']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-13_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-13']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-13_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-13']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-13_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-13']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-13_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-12']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-12_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-12']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-12_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-12']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-12_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-12']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-12_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-12']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-12_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-11']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-11_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-11']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-11_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-11']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-11_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-11']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-11_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-11']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-11_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-08']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-08_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-08']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-08_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-08']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-08_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-08']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-08_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-08']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-08_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-06']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-06_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-06']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-06_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-06']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-06_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-06']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-06_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-06']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-06_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-05']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-05_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-05']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-05_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-05']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-05_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-05']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-05_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-05']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-05_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-04']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-04_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-04']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-04_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-04']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-04_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-04']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-04_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-04']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-04_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-01']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-01_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-01']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-01_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-01']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-01_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-01']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-01_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-09-01']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-09-01_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-31']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-31_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-31']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-31_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-31']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-31_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-31']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-31_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-31']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-31_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-30']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-30_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-30']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-30_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-30']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-30_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-30']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-30_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-30']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-30_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-29']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-29_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-29']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-29_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-29']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-29_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-29']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-29_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-29']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-29_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-28']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-28_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-28']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-28_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-28']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-28_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-28']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-28_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-28']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-28_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-25']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-25_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-25']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-25_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-25']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-25_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-25']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-25_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-25']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-25_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-24']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-24_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-24']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-24_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-24']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-24_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-24']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-24_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-24']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-24_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-23']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-23_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-23']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-23_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-23']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-23_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-23']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-23_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-23']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-23_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-22']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-22_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-22']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-22_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-22']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-22_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-22']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-22_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-22']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-22_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-21']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-21_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-21']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-21_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-21']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-21_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-21']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-21_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-21']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-21_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-18']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-18_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-18']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-18_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-18']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-18_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-18']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-18_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-18']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-18_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-17']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-17_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-17']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-17_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-17']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-17_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-17']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-17_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-17']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-17_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-16']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-16_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-16']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-16_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-16']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-16_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-16']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-16_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-16']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-16_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-15']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-15_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-15']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-15_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-15']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-15_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-15']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-15_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-15']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-15_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-14']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-14_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-14']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-14_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-14']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-14_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-14']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-14_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-14']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-14_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-11']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-11_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-11']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-11_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-11']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-11_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-11']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-11_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-11']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-11_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-10']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-10_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-10']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-10_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-10']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-10_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-10']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-10_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-10']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-10_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-09']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-09_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-09']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-09_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-09']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-09_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-09']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-09_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-09']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-09_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-08']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-08_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-08']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-08_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-08']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-08_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-08']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-08_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-08']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-08_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-07']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-07_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-07']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-07_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-07']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-07_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-07']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-07_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-07']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-07_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-04']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-04_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-04']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-04_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-04']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-04_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-04']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-04_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-04']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-04_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-03']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-03_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-03']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-03_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-03']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-03_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-03']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-03_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-03']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-03_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-02']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-02_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-02']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-02_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-02']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-02_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-02']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-02_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-02']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-02_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-01']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-01_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-01']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-01_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-01']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-01_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-01']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-01_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-08-01']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-08-01_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-31']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-31_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-31']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-31_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-31']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-31_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-31']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-31_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-31']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-31_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-28']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-28_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-28']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-28_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-28']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-28_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-28']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-28_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-28']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-28_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-27']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-27_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-27']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-27_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-27']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-27_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-27']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-27_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-27']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-27_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-26']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-26_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-26']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-26_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-26']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-26_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-26']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-26_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-26']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-26_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-25']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-25_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-25']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-25_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-25']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-25_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-25']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-25_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-25']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-25_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-24']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-24_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-24']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-24_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-24']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-24_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-24']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-24_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-24']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-24_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-21']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-21_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-21']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-21_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-21']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-21_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-21']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-21_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-21']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-21_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-20']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-20_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-20']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-20_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-20']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-20_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-20']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-20_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-20']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-20_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-19']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-19_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-19']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-19_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-19']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-19_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-19']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-19_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-19']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-19_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-18']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-18_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-18']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-18_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-18']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-18_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-18']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-18_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-18']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-18_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-17']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-17_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-17']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-17_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-17']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-17_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-17']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-17_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-17']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-17_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-14']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-14_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-14']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-14_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-14']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-14_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-14']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-14_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-14']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-14_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-13']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-13_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-13']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-13_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-13']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-13_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-13']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-13_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-13']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-13_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-12']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-12_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-12']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-12_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-12']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-12_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-12']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-12_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-12']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-12_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-11']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-11_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-11']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-11_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-11']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-11_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-11']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-11_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-11']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-11_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-10']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-10_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-10']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-10_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-10']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-10_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-10']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-10_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-10']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-10_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-07']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-07_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-07']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-07_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-07']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-07_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-07']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-07_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-07']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-07_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-06']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-06_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-06']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-06_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-06']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-06_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-06']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-06_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-06']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-06_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-05']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-05_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-05']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-05_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-05']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-05_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-05']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-05_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-05']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-05_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-04']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-04_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-04']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-04_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-04']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-04_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-04']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-04_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-04']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-04_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-03']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-03_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-03']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-03_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-03']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-03_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-03']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-03_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-07-03']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-07-03_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-30']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-30_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-30']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-30_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-30']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-30_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-30']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-30_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-30']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-30_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-29']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-29_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-29']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-29_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-29']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-29_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-29']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-29_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-29']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-29_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-28']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-28_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-28']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-28_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-28']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-28_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-28']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-28_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-28']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-28_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-27']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-27_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-27']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-27_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-27']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-27_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-27']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-27_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-27']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-27_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-26']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-26_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-26']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-26_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-26']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-26_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-26']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-26_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-26']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-26_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-23']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-23_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-23']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-23_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-23']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-23_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-23']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-23_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-23']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-23_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-22']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-22_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-22']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-22_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-22']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-22_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-22']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-22_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-22']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-22_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-21']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-21_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-21']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-21_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-21']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-21_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-21']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-21_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-21']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-21_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-20']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-20_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-20']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-20_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-20']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-20_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-20']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-20_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-20']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-20_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-19']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-19_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-19']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-19_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-19']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-19_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-19']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-19_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-19']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-19_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-16']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-16_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-16']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-16_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-16']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-16_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-16']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-16_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-16']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-16_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-15']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-15_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-15']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-15_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-15']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-15_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-15']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-15_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-15']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-15_5. volume"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-14']['1. open']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-14_1. open"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-14']['2. high']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-14_2. high"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-14']['3. low']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-14_3. low"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-14']['4. close']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-14_4. close"
								}
							},
							{
								"source": {
									"path": "$['Time Series (Daily)']['2023-06-14']['5. volume']"
								},
								"sink": {
									"name": "Time Series (Daily)_2023-06-14_5. volume"
								}
							}
						],
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "AlphaVantageJsonStorage",
						"type": "DatasetReference",
						"parameters": {
							"layer": {
								"value": "@pipeline().parameters.raw_layer",
								"type": "Expression"
							},
							"symbol": {
								"value": "@variables('symbol')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AlphaVantageDailyCSVDataset",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"raw_layer": {
				"type": "string",
				"defaultValue": "raw"
			},
			"apikey": {
				"type": "string",
				"defaultValue": "@linkedService(\\\"MastercloudVault\\\").secret.alphavantagekey\\"
			}
		},
		"variables": {
			"symbol": {
				"type": "String",
				"defaultValue": "BBDC4.SA"
			}
		},
		"folder": {
			"name": "Prtica 02"
		},
		"annotations": []
	}
}